ion-header ion-toolbar:first-child {
	--border-width: 0 0 1px 0;
}

.empty {
	margin-top: 15vh;
	display: grid;
	place-items: center;
	text-align: center;
	gap: 8px;

	ion-icon {
		font-size: 56px;
		color: var(--ion-color-medium);
	}
}

ion-item {
	--inner-padding-end: 12px;
}

.subtitle {
	color: var(--ion-color-medium);
}

.meta {
	color: var(--ion-color-medium);
}

.price {
	font-size: 1.2rem;
	font-weight: 700;
	color: var(--ion-color-primary);
	margin-left: 8px;
}
